{% extends "base_generic.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/restaurants.css' %}" />
{% endblock %}

{% block content %}
<h2>{{ object.name }}</h2>

<div class="restaurant-meta">
  <div class="meta-info">
    <p>조회수 : {{restaurant.view_count}}</p>
    <p>작성일 : {{ restaurant.created_at|date:'Y-m-d H:i' }}</p>
  </div>
  {% if object.author == user %}
  <div>
    <a href="{% url 'restaurant_edit' object.pk %}">수정하기</a> |
    <a href="{% url 'restaurant_delete' object.pk %}">삭제하기</a>
  </div>
  {% endif %}
</div>


{% if object.thumb_image %}
<img src="{{ object.thumb_image.url }}" style="width:100%" alt="">
{% endif %}

<div class="restaurant-item">
  <article>
    <h3>식당 이름</h3>
    <p>
      <span class="material-symbols-rounded">restaurant</span>
      {{ restaurant.cuisine }}
    </p>
    <h3>음식 종류</h3>
    <p>
      <span class="material-symbols-rounded">pin_drop</span>
      {{ restaurant.address }}
    </p>
    <h3>추천 이유</h3>
    <p>{{ object.description }}</p>
    
    {% if object.website %}
    <h3>웹사이트</h3>
    <p><a href="{{ object.website }}">{{ object.website }}</a></p>
    {% endif %}
    
    <h3>태그</h3>
    <ul>
      {% for tag in object.tags.all %}
      <li><a href="" class="btn btn-outline">{{ tag }}</a></li>
      {% endfor %}
    </ul>
  </article>
</div>

<hr>

<section>
  <h3>댓글</h3>
  <p><span>{{ object.comments.count }}</span>개의 댓글이 있습니다.</p>
  {% if request.user.is_authenticated %}
  <form action="{% url 'comment_new' object.pk %}" method="post" class="comment-form">
    {% csrf_token %}
    {{ comment_form.message }}
    <button type="submit" class="btn btn-primary">댓글 작성</button>
  </form>
  {% else %}
  <p>댓글을 작성하려면 로그인하세요</p>
  <a href="{% url 'login' %}">로그인</a>
  {% endif %}
  <div class="comments">
    <ul>
      {% for comment in object.comments.all %}
      <li>
        <p>{{ comment.author }} <small>{{ comment.updated_at }}</small></p>
        <p>{{ comment.message }}</p>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
{% endblock %}