{% extends "base_generic.html" %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'styles/restaurants.css' %}" />
{% endblock %}

{% block content %}
<main>
  <h1>
    {{ object.name }}
  </h1>
  <p>{{ object.author }}</p>
  <p>
    <a href="{% url 'restaurant-edit' object.pk %}">수정하기</a> |
    <a href="{% url 'restaurant-delete' object.pk %}">삭제하기</a>
  </p>
  <p> {{ object.cuisine }} | {{ object.address }} </p>
  <p>{{ object.description }}</p>
  {% if object.website %}
  <p><a href="{{ object.website }}">사이트 방문하기</a></p>
  {% endif %}
</main>
{% endblock %}