{% extends "base_generic.html" %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'styles/restaurants.css' %}" />
{% endblock %}

{% block content %}
<main>
  <h1>맛집 추천 리스트</h1>
  <p>다른 사용자의 추천 리스트로 나의 맛집을 찾아보세요!</p>

  <form action="" method="GET">
    {% csrf_token %}
    <label for="cuisine">음식 종류</label>
    <select name="cuisine" id="cuisine">
      <option value="" {% if not request.GET.cuisine %}selected{% endif %}>전체</option>
      <option value="한식" {% if request.GET.cuisine == "한식" %}selected{% endif %}>한식</option>
      <option value="양식" {% if request.GET.cuisine == "양식" %}selected{% endif %}>양식</option>
      <option value="일식" {% if request.GET.cuisine == "일식" %}selected{% endif %}>일식</option>
      <option value="중식" {% if request.GET.cuisine == "중식" %}selected{% endif %}>중식</option>
      <option value="아시안음식" {% if request.GET.cuisine == "아시안음식" %}selected{% endif %}>아시안 음식</option>
      <option value="분식" {% if request.GET.cuisine == "분식" %}selected{% endif %}>분식</option>
      <option value="카페" {% if request.GET.cuisine == "카페" %}selected{% endif %}>카페</option>
      <option value="패스트푸드" {% if request.GET.cuisine == "패스트푸드" %}selected{% endif %}>패스트푸드</option>
      <option value="기타" {% if request.GET.cuisine == "기타" %}selected{% endif %}>기타</option>
    </select>
    <label for="q">식당 이름</label>
    <input type="text" name="q" value="{{ request.GET.q }}" id="q">
    <button type="submit">검색</button>
  </form>

  {% if object_list|length > 0 %}
  <p>{{ object_list|length }}개의 맛집이 있어요</p>

  <ul id="restaurants-list">
    {% for restaurant in object_list %}
    <li class="restaurant-item">
      <article>
        <h2>
          {{ restaurant.name }}
        </h2>
        <div class="restaurant-meta">
          <p>
            {{ restaurant.cuisine }}
          </p>
          <p>
            {{ restaurant.address }}
          </p>
        </div>
        <ul>
          {% for tag in restaurant.tags.all %}
          <li><a href="#">{{ tag }}</a></li>
          {% endfor %}
        </ul>
        <p>조회수 : {{restaurant.view_count}}</p>
        <p>{{ restaurant.author }}</p>
        <div class="restaurant-actions">
          <a href="{% url 'restaurant-detail' restaurant.id %}">View Restaurant</a>
        </div>
      </article>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>아직 추천된 맛집이 없어요. 혹시 추천을 해줄 수 있나요?</p>
  <a href="/recommend">네, 내 맛집을 알려줄게요</a>
  {% endif %}
</main>
{% endblock %}