{% load static %}

<!DOCTYPE html>
<html lang="ko">

<head>
  <title>Eatwell - {% block title %}세상을 더 맛있게{% endblock %}</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&family=Roboto:wght@400;700&display=swap"
    rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded" rel="stylesheet" />

  <link rel="stylesheet" href="{% static 'styles/shared.css' %}">
  <script src="{% static 'scripts/responsive.js' %}" defer></script>
  {% block styles %}<!-- Add additional CSS in static file -->{% endblock %}
</head>

<body>
  {% include 'navbar.html' %}

  <main>
    <div>
      {% block content %}
      <!-- default content text (typically empty) -->
      {% endblock %}
    </div>
  </main>
</body>

</html>