main {
  width: 95%;
  max-width: 50rem;
  margin: 3rem auto;
  text-align: center;
}

main h1 {
  font-family: 'Noto Sans KR', 'Roboto', sans-serif;
  color:rgb(227, 10, 23);
}

main ul {
  list-style: none;
  margin: 3rem 0;
  padding: 0;
  display: flex;
}

main li {
  width: 20rem;
  height: 10rem;
  border-radius: 6px;
  margin: 0 1rem;
  overflow: hidden;
}

main li a {
  height: 50%;
  width: 100%;
  box-sizing: border-box;
}

main .feature {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

main .feature-content > * {
  margin: 0;
  margin-top: 1rem;
  align-self: flex-start;
}

main .feature-image {
  display: block;
  width: 50%;
  height: auto;
}