main {
  max-width: 40rem;
}

label,
input,
textarea,
select {
  display: block;
  width: 100%;
  margin-bottom: 0.75rem;
}

label {
  color: var(--color-dark);
  text-align: left;
}

input,
textarea,
select {
  font: inherit;
  padding: 0.25rem;
  border-radius: 4px;
  background-color: rgb(254, 254, 254);
  border: 1px solid var(--color-gray);
  color: var(--color-dark);
  box-sizing: border-box;
}

input:focus,
textarea:focus,
select:focus {
  background-color: rgb(249, 246, 240);
}

form {
  display: flex;
  flex-direction: column;

}

span {
  color: var(--color-primary);
}

hr {
  margin: 1rem 0;
}

#restaurants-list {
  list-style: none;
  margin: 2rem 0;
  padding: 0;
}

.restaurant-item {
  margin: 2rem 0;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  background-color: var(--color-white);
  color: var(--color-dark);
  text-align: left;
  display: flex;
}

.restaurant-item article {
  flex: 2;
  padding: 1rem;
}

.restaurant-item h2 {
  font-family: 'Noto Sans KR', 'Roboto', sans-serif;
  font-size: 1.5rem;
  margin: 0.25rem 0;
}

.restaurant-item h3 {
  font-family: 'Noto Sans KR', 'Roboto', sans-serif;
  font-size: 1rem;
  margin: 0.5rem 0 0.25rem;
}

.restaurant-item p {
  margin: 0.2rem 0;
  color: rgb(110, 78, 7);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.restaurant-item img {
  display: block;
  width: 40%;
}

.restaurant-meta {
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 1rem;
}

.restaurant-meta>div {
  margin-bottom: 0.5rem;
}

.restaurant-meta .meta-info {
  display: flex;
  gap: 0.5rem;
}

.restaurant-meta p {
  color: var(--color-gray);
  margin: 0;
}

.restaurant-item ul {
  list-style: none;
  margin: 0.5rem 0;
  padding: 0;
  display: flex;
  gap: 0.5rem;
}

.restaurant-item .btn-outline {
  padding: 0.5rem;
  min-width: 4rem;
  border-radius: 100px;
}

.restaurant-actions {
  margin-top: 1rem;
  text-align: right;
}

/* form */
.comment-form {
  display: flex;
  padding: 10px;
  border-radius: 16px;
  align-items: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.comment-form textarea {
  resize: none;
  flex-grow: 1;
  height: 60px;
}

/* comments */
.comments ul {
  list-style: none;
  padding: 0;
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.comments li {
  flex-grow: 1;
  padding: 0.5rem 0;
  border-bottom: 1px solid var(--color-gray);
}

.comments li p {
  text-align: left;
  margin: 0.5rem 0;
  display: flex;
  justify-content: flex-start;
}

.comments li small {
  margin-left: 0.5rem;
  color: var(--color-gray);
}